.nav-wrapper{
    display:flex ;
    justify-content: space-between;
    padding: 0px;
    background-color: rgb(14, 146, 14);

    
}


.left-side{
    display:flex;
    color: rgb(255, 0, 34);
    
    
}



.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}